@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --background: rgb(0, 0, 0);
    --foreground: rgb(247, 239, 250);

    --card: rgb(0, 0, 0);
    --card-foreground: rgb(247, 239, 250);

    --popover: rgb(0, 0, 0);
    --popover-foreground: rgb(247, 239, 250);

    --primary: rgb(247, 239, 250);
    --primary-foreground: rgb(28, 28, 29);

    --secondary: rgb(34, 39, 42);
    --secondary-foreground: rgb(247, 239, 250);

    --muted: rgb(34, 39, 42);
    --muted-foreground: rgb(172, 174, 186);

    --accent: rgb(35, 38, 40);
    --accent-foreground: rgb(247, 239, 250);

    --destructive: rgb(173, 50, 20);
    --destructive-foreground: rgb(247, 239, 250);

    --border: rgb(34, 39, 42);
    --input: rgb(34, 39, 42);
    --ring: rgb(224, 214, 239);


    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}